[user]
	email = Alexander.Ames@gmail.com
	name = Alexander Ames

[init]
	defaultBranch = main

[include]
	path = ~/.gitconfig.local

[core]
	excludesFile = ~/.gitignore_global
	pager = delta

[url "git@github.com:"]
	insteadOf = https://github.com/

[push]
	autoSetupRemote = true
	default = current

[pull]
	rebase = true

[diff]
	tool = vimdiff

[difftool "bc"]
	trustExitCode = true

[difftool "vimdiff"]
	cmd = vim -f -d -c 'wincmd l' -c 'cd "$GIT_PREFIX"' "$LOCAL" "$REMOTE"

[difftool]
	prompt = false

[alias]
	# Diffing.
	d = diff
	dt = difftool
	mt = mergetool

	# Add.
	aa = add .

	# Commit.
	ca = commit -a
	cm = commit -m
	cam = commit -a -m

	checkpoint = commit -a -m "Checkpoint"

	# Amend commits, (in|ex)cluding everything, (with|without) message update.
	amend = commit --amend
	m = commit --amend --no-edit
	ma = commit --amend -a --no-edit

	# Check out remote branch.
	track = checkout --track
	t = checkout --track
	track-all = "!for remote in `git branch -r | grep -v /HEAD`; do git checkout --track $remote ; done"
	ta = track-all

	# Pretty log printers.
	lg             = log       --decorate --color --graph --pretty=format:'%C(bold blue)%h%Creset - %Cgreen(%cr)%Creset %s %C(bold blue)<%an>%C(auto)%d%Creset' --abbrev-commit
	lgm            = log       --decorate --color --graph --pretty=format:'%C(bold blue)%h%Creset - %Cgreen(%cr)%Creset %s %C(bold blue)<%an>%C(auto)%d%Creset' --abbrev-commit HEAD...main^
	l              = log       --decorate --color         --pretty=format:'%C(bold blue)%h%Creset - %Cgreen(%cr)%Creset %s %C(bold blue)<%an>%C(auto)%d%Creset' --abbrev-commit
	lm             = log       --decorate --color         --pretty=format:'%C(bold blue)%h%Creset - %Cgreen(%cr)%Creset %s %C(bold blue)<%an>%C(auto)%d%Creset' --abbrev-commit HEAD...main^
	la             = log --all --decorate --color         --pretty=format:'%C(bold blue)%h%Creset - %Cgreen(%cr)%Creset %s %C(bold blue)<%an>%C(auto)%d%Creset' --abbrev-commit
	log-graph-main = log       --decorate --color --graph --pretty=format:'%C(bold blue)%h%Creset - %Cgreen(%cr)%Creset %s %C(bold blue)<%an>%C(auto)%d%Creset' --abbrev-commit HEAD...main^

	# Commands that should exist
	get-branch = rev-parse --abbrev-ref HEAD
	get-tracked-remote = !git branch -vv | rg --color never \"(\\w+)/$(git get-branch)\" -or '$1'

	mk-branch = checkout -b
	mkb = checkout -b

	rm-branch = branch -D

	# Utilities that print and get commits.
	simple-log = log --all --pretty=format:'%h %s <%an>'
	ls-branch  = !git branch    | cut -c 3- | sed s-^remotes/[^/]*/-- | grep -v ' -> ' | sort -u
	lsa-branch = !git branch -a | cut -c 3- | sed s-^remotes/[^/]*/-- | grep -v ' -> ' | sort -u
	ls-remote-branch = !git branch -a

	recent-files = diff --name-only HEAD..HEAD~3

	vim = !vim $(git diff --name-only)

	ls-staged   = diff --name-only --cached
	ls-modified = ls-files -m -o --exclude-standard
	ls-chains = "!git chain list | awk '{ gsub(/[*\\[\\]]/, \"\"); title = $1; for (i = 3; i <= NF; i++) { print title \":\" $i }}'"

	# fzf enabled commands
	fzf = !fzf -i --reverse --height=~50%
  co  = !git ls-files           | git fzf    --multi --bind 'enter:become(echo "git checkout {+}" && git checkout      {+})'
	rv  = !git ls-modified        | git fzf    --multi --bind 'enter:become(echo "git checkout {+}" && git checkout      {+})'
	a   = !git ls-modified        | git fzf    --multi --bind 'enter:become(echo "git add {+}"      && git add           {+})'
	r   = !git ls-staged          | git fzf    --multi --bind 'enter:become(echo "git reset {+}"    && git reset --quiet {+})'
	c   = !git ls-chains          | git fzf    --bind 'enter:become(git switch        $(echo {1} | cut -d\":\" -f2))'
	cp  = !git simple-log         | git fzf    --bind 'enter:become(git cherry-pick   {1})'
	p   = !git remote             | git fzf -1 --bind 'enter:become(git push          {1})'
	pf  = !git remote             | git fzf -1 --bind 'enter:become(git push --force  {1})'
	rmb = !git ls-branch          | git fzf    --bind 'enter:become(git rm-branch     {1})'
	s   = !git lsa-branch         | git fzf    --bind 'enter:become(git switch        {1})'
	rb  = !git ls-remote-branch   | git fzf    --bind 'enter:become(git rebase        {1})'

	prd = "!if git merge-base --is-ancestor main HEAD; then git diff main HEAD; else echo \"not branched from main; run \\`git rebase main\\`\"; fi"

[interactive]
	diffFilter = delta --color-only --features=interactive

[delta]
	features = decorations
	side-by-side = true
	whitespace-error-style = 22 reverse
  navigate = true  # use n and N to move between diff sections

[delta "interactive"]
	keep-plus-minus-markers = false

[delta "decorations"]
	commit-decoration-style = blue ol
	commit-style = raw
	file-style = omit
	hunk-header-decoration-style = grey ol ul
	hunk-header-file-style = white
	hunk-header-line-number-style = "#067a00"
	hunk-header-style = file line-number syntax
	hunk-label = "     │ File: "
	line-numbers-left-format = "{nm:>4} │"
	line-numbers-left-style = grey
	line-numbers-right-format = "│{np:>4} │"
	line-numbers-right-style = grey

# [merge]
#   conflictstyle = zdiff3

[remote]
	pushDefault = origin

